<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Waste Management</title>
  <!-- favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />
  <link rel="manifest" href="site.webmanifest" />

  <!-- styles -->
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    referrerpolicy="no-referrer" />
</head>

<body>
  <!-- navigation bar -->
  <div class="nav-bar">
    <div class="logo">
      <div class="img">
        <img src="/images/apple-touch-icon.png" alt="" />
      </div>
      <p>Waste Management</p>
    </div>
    <div class="nav-element">
      <ul id="myDIV">
        <li><a href="/" class="btn">Home</a></li>
        <li><a href="/login" class="btn">Login</a></li>
        <li><a href="/register" class="active btn">Register</a></li>
      </ul>
    </div>
  </div>

  <div class="body">
    <div class="modern-form">
      <h1>Register</h3>

        <!-- register form -->
        <form action="/register" method="POST">
          <fieldset class="float-label-field">
            <label for="fullName">Full Name</label>
            <input id="fullName" type="text" name="fullname" />
          </fieldset>

          <fieldset class="float-label-field">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" />
          </fieldset>

          <fieldset class="float-label-field">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" />
          </fieldset>

          <button type="submit" style="margin-top: 2rem">Create Account</button>
        </form>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"
      integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>